/******************************************
/* BASE STYLES
/*******************************************/

* {
  box-sizing: border-box;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}



/* -------BASE FONT STYLES--------*/

html {
  font-size: 62.5%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

* {
  color: rgb(197,189,178);
}



/******************************************
/* CSS GRID
/*******************************************/

#output {
  grid-area: 1 / 2 / 2 / 4
}

#input {
  grid-area: input;
}

#top-left {
  grid-area: top-left;
}

#top-right {
  grid-area: top-right;
}

#bottom-left {
  grid-area: bottom-left;
}

#bottom-right {
  grid-area: bottom-right;
}

body { 
  display: grid;
  grid-template-areas:
    "top-left top-left top-right top-right"
    "input input input input"
    "bottom-left bottom-left bottom-right bottom-right";
  grid-template-rows: 5fr 2fr 2fr;  
  grid-template-columns: 2fr 1fr 1fr 2fr;
  height: 100vh;
}

/******************************************
/* OUTPUT
/*******************************************/


#output {
  place-self: center;
}

#poke-info {
  background-color: white;
}


h2,
h3,
p {
  font-size: 8rem;
  font-weight: 500;
  text-align: left;
}

h2 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 8px;
  text-transform: capitalize;
}

h3 {
  font-size: 2rem;
  margin-bottom: 3px;
}

#output img{
  width: 250px;
  margin: 10px;
}

/******************************************
/* INPUT
/*******************************************/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

input,
button {
  height: 40px;
  width: 350px;
}

h1,
input,
button {
  font-size: 8rem;
  font-weight: 500;
}

h1 {
  margin-bottom: 10px;
}

input {
  font-size: 2.5rem;
  padding: 2px;
  text-align: center;
  text-transform: capitalize;
}

button {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 2px;
  text-align: center;
}

/******************************************
/* BACKGROUND
/*******************************************/



#top-left,
#top-right,
#bottom-left,
#bottom-right {
  /* filter: blur(2px); */
  /* background-position: center; */
  background-repeat: no-repeat;
}

#img-top-left,
#img-top-right,
#img-bottom-left,
#img-bottom-right {
  display: grid;
  /* height: 200px; */
  place-self: center;
}

#top-left {
  background-image: url("images/bg-2.jpg");
}

#top-right {
  background-image: url("images/bg-2.jpg");
}

#bottom-left {
  background-image: url("images/bg-2.jpg");
}

#bottom-right {
  background-image: url("images/bg-2.jpg");
}

/******************************************
/* MEDIA QUERY
/*******************************************/

/* Stack the layout on small devices/viewports. */
@media screen and (max-width: 1280px) {

  html {
    font-size: 62.5%;
  }

  body { 
    grid-template-areas:
      "top-left top-left top-right top-right"
      "input input input input"
      "bottom-left bottom-left bottom-right bottom-right";
    grid-template-rows: 6fr 2fr 1fr;  
    grid-template-columns: 2fr 1fr 1fr 2fr;
    height: 100vh;
  }
}

@media screen and (max-width: 736px) {

  html {
    font-size: 52.5%;
  }

  #output img{
    width: 200px;
  }

  body { 
    grid-template-areas:
      "top-left top-left top-right top-right"
      "input input input input"
      "bottom-left bottom-left bottom-right bottom-right";
    grid-template-rows: 6fr 2fr 1fr;  
    grid-template-columns: 2fr 1fr 1fr 2fr;
    height: 100vh;
  }
}

@media screen and (max-width: 360px) {

  html {
    font-size: 48.5%;
  }

  #output img{
    width: 180px;
  }

  body { 
    grid-template-areas:
      "top-left top-left top-right top-right"
      "input input input input"
      "bottom-left bottom-left bottom-right bottom-right";
    grid-template-rows: 3fr 2fr 0.25fr;  
    grid-template-columns: 2fr 1fr 1fr 2fr;
    height: 100vh;
  }
}